@media screen and (max-width:375px){

    /* Inicio HEADER*/

   .carousel{

    width: 1000px;
    position: absolute;
    top: 6%;
   }

   .navbar{

       padding: 0;
       width: 1000px
   }

   .container-fluid{
       padding: 0;
       width: 1000px;
       background-color: black;
       display: flex;
       
       
   }
   .navbar-collapse{
       background-color: black;
       display: flex;
       flex-basis: 375px;
   }

   .navbar-toggler{
       display: none;
   }

   .navbar-nav{
        display: flex;
        flex-direction:row;
   }


   /* Fin HEADER */

   /* Primera seccion */

   .container{
       position: absolute;
       top: 65%;
   }
   
   .col{
       position: absolute;
       top: 1200%;
   }

   
   .col-10 a img {
       height: 200px;
       width: 150px;
       
   }

   .col-10{
       display: flex;
       flex-direction: row;
       justify-content: flex-start;

       position: absolute;
       left: 60%;
   }

   /* Final Pimera Seccion */

   /* Segunda Seccion */
   
   .second-container{
       display: flex;
       flex-direction: row;
       position: absolute;
       top: 120%;
       left: 0%;
       width: 1000px;
   }

   .col-10-electro{
       display: flex;
       flex-direction: row;
       justify-content:space-evenly;
       width: 100%;
   }

   

   .col-10-electro a img{
    height: 200px;
    width: 100px
   }

   .row-2{
       display: flex;
       width: 100%;
   }

   /* Final Segunda Seccion */

   /* Seccion de imagenes contacto */

   .container-contacto{
       padding-top: 0%;
       position: absolute;
       top: 170%;
       width: 1000px;

   }

   .container-2 img{
       height: 100%;
       width: 90%;
   }

   /* Final Seccion de imagenes contacto */

   /* Mapa */

   .mapa{
       position: absolute;
       top: 190%;
           
   }

   /* Fin Mapa */

   /* Footer Inicio */

   .footer{
       position: absolute;
       top: 250%;
   }

   .container-footer{
       width: 1000px;
   }

   .container-logo{
       display: flex;
       justify-content: center;
   }

   .items-footer{
       display: flex;
       flex-direction: column;
   }

   .items-footer-second{
       position: absolute;
       left: 60%;
       top: 10%;
   }

   .items-footer-third{
       display: flex;
       flex-direction: column;
       position: absolute;
       left: 112%;
       top: 10%;
   }

   .items-footer-fourth{
       position: absolute;
       top: 10%;
       left: 180%;
   }


   .row-footer{
       width: 50%;
       position: absolute;
       left: 0%;
       top: 100%;
   }

   .col-auto{
       position: absolute;
       left: 0%;
   }

   .footer-final{
       background-color: black;
       width: 1000px;
       height: 200px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

   }

   .container-footer-final{
       color: white;
       display: flex;
       justify-content: center;
       
   }

   .container-footer-final-second{
       color: white;
       border-top: 2px solid white;
       display: flex;
       align-items: center;
   }

}

    

body{
    background-color: #eee;
}

.img-link:hover{
    transform:scale(1.08)
}

.img-link{
    transition: all 1s;
}

/*.row{
    width: 120%;
}*/

.carousel-inner{
    padding-top: 4%;
    padding-bottom: 20px;
}

.navbar{
    background-color: black;
    
}
.navbar-nav{
    width: 50%;
    display: flex;
    align-items: flex-end;

}

.nav-item{
    width: 25%;
    display: flex;
    justify-content: center;
    
}

.d-flex{
    width: 35%;
    display: flex;
    justify-content:flex-end;

    left:8%;
}

.nav-link{
    color: white;
    transition: all 1s;
}
.nav-link:hover{
    transform: scale(1);
    color: red;
}

.boton{
    background-color: rgba(255, 0, 0, 0.835);
}

.carousel-item{
    transition: all 1s;
}

.container{
    padding: 2px;
    width: 100%;
    
}

.first-item{
    display: flex;
    justify-content: center;
}

.second-item{
    display: flex;
    justify-content: center;
}

.colum-1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}

.colum-1 h2 span{
    display: flex;
    justify-content: center;
    
    
}

.col-10{
    padding: 0;
}

.size-img{
    height: 300px;
    width: 200px;
}

.col-electro{
    border: 0;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.container-contacto{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    
}

.container-contacto li{
    display: flex;
    justify-content: space-between;
}

.container-2{
    width: 1880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.img-fluid{
    border: 1px outset black ;
}
.mapa{
    padding-top: 80px;
    padding-bottom: 60px;
    width: 100%;
}



.container-footer{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.footer{
    height: 200px;
    width: 100%;
    background-color: #eee;
}

.logo-ig{
    height: 80px;
    width: 80px;
}
.logo-tw{
    height: 70px;
}
.logo-fb{
    height: 80px;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.items-footer-second {
    display: flex;
    flex-direction: column;
    
    
}
.text-item{
    text-decoration: none;
    color: black;
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.text-item:hover{
    text-decoration:underline;
    color: black;
}
.formulario{
    width: 300px;
}

.btn{
    color: white;
}
.boton-color{
    background-color: rgba(255, 0, 0, 0.835);
}
/*
.footer-final{
    height: 300px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-footer-final{
    display: flex;
    justify-content:center;
    
}

.texto-final{
    padding-top: 20px;
    border-top: 2px solid whitesmoke;
    color: white;
}

.container-footer-final{
    font-size: 0.88em;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-footer-final-second{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.texto-final-second{
    color: white;
}*/


